---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Tutoriales y cursos" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      {%- if post.category=="CrashCourse"-%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        <!--{%- if site.show_excerpts -%}-->
          {{ post.excerpt }}
        <!--{%- endif -%}-->
      </li>
      {%- endif -%}
      {%- endfor -%}
    </ul>

    <h2 class="post-list-heading">{{ page.list_title | default: "Proyectos y artículos especializados" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      {%- if post.category=="Projects"-%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        <!--{%- if site.show_excerpts -%}-->
          {{ post.excerpt }}
        <!--{%- endif -%}-->
      </li>
      {%- endif -%}
      {%- endfor -%}
    </ul>

    <h2 class="post-list-heading">{{ page.list_title | default: "Demo Thumbnails" }}</h2>
    <div class="thumbnail-col-wrapper">
      {%- for post in site.categories.CrashCourse limit:3-%}
      <div class="thumbnail-col">
        <li>
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          <span class="post-meta">{{ post.date | date: date_format }}</span>
          <h3>
            <a class="post-link" href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
          </h3>
          <!--{%- if site.show_excerpts -%}-->
            {{ post.excerpt }}
          <!--{%- endif -%}-->
        </li>
      </div>
      {%- endfor -%}
    </div>

    <p class="rss-subscribe">subscríbete <a href="{{ "/feed.xml" | relative_url }}">vía RSS</a></p>
  {%- endif -%}

</div>
